/* base.less是用来写一些项目都需要的公共样式 */



/* 定义乐淘主题色 */
@main-color: #006699;

img{
	vertical-align: middle;
}
li{
	list-style: none;
}
*{
	margin: 0;
	padding: 0;
}
a{
	color: #000
}
// 头部公共样式
#header{
	height: 45px;
	background-color: @main-color;
	color: #fff;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 999;
	>h4{
	line-height: 45px;
	margin: 0;
	}
	.fa-search{
		position: absolute;
		color: #fff;	
		right: 20px;
		top: 14px;
	}
	.fa-arrow-left{
		color: #fff;
		position: absolute;
		top: 14px;
		left: 20px;
	}
	>form{
		padding: 7px  45px 8px 45px;
		// padding-left: 45px;
		// padding-right: 45px;
		>input{
				text-align: left;
				background-color: #fff;
				font-size: 14px;
				height: 30px;
				color: #666;
				border-radius: 5px;
				margin: 0;
		}
	}
}

// 主体内容公共样式
html,body{
	height: 100%;
}
#main{
	height: 100px;
	padding-top: 45px;
	padding-bottom: 50px;
	height: 100%;
	background-color: #fff;
}

// 底部公共样式
#footer{
	height: 50px;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: @main-color;
	z-index: 999;
	.mui-row{
			>div{
				a{
					color: #fff;
					text-align: center;
					display: block;
					font-size: 14px;
					padding: 10px;
					&::before{
					display: block;
					margin-bottom: 2px;
					}
					&.active{
					color: orange;
					}
				}
			}
	}
}
